.container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .container  {
    position: absolute;
    top: 0;
    left: 0;
    animation: slide 3s infinite;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    50% {
      left: 200px;
    }
    100% {
      left: 0;
    }
  }
  